<html>

<head>
    <title>Dodaj pitanje</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/api/"> <i class="fas fa-chevron-left"></i> Vrati se nazad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/api/dodaj"> <i class="fas fa-plus"></i> Dodaj pitanje</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/api/svapitanja2"> <i class="fas fa-layer-group"></i> Sva pitanja</a>
            </li>
        </ul>
    </nav>


    <form action="/api/pitanja" method="post" style="width: 50%;margin:auto;">
        <div class="form-group">
            <label for="exampleInputEmail1">Pitanje</label>
            <input name="pitanje" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Odgovor 1</label>
            <input name="odg1" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Odgovor 2</label>
            <input name="odg2" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Odgovor 3</label>
            <input name="odg3" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Tacan odgovor</label>
            <input name="tacanOdg" type="text" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary"> <i class="fas fa-caret-square-left"></i> Dodaj</button>
    </form>
</body>

</html>